body {
    background-color: gray;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 3px solid #000;
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(255, 191, 28);
    background-image: url('lakers.gif');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    align-items: end;
}

.scores {
    background-color: #000;
    color: darkred;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    font-size: 100px;
    width: 250px;
    padding: 0;
    margin: 0;
    line-height: 0;
}


h3 {
    color: purple;
    font-size: 36px;
    margin: 0;
    border: 3px solid purple;
    border-radius: 5px;
    background-color: rgb(255, 191, 28);
    width: 100%;
}

button {
    background: none;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    background-color: rgb(255, 191, 28);
    color: purple;
}

.button-pts {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sub-container {
    width: 33%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}