body {
    background-color: #1f1f1f;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 20px;
    user-select: none;
    text-align: center;
    color: whitesmoke;
}

.container {
    display: flex;
    justify-content: space-around;
    border: 3px solid #000;
    border-radius: 25px;
    padding: 25px;
    background-color: rgb(255, 191, 28);
    background-image: url('lakers.gif');
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    align-items: end;
    text-align: center;
}

.scores {
    background-color: #000;
    color: darkred;
    border-radius: 5px;
    font-family: 'Quantico', sans-serif;
    font-size: 100px;
    width: 250px;
    padding: 0;
    margin: 0;
    line-height: 0;
    margin: 50px 0;
}


h3 {
    color: purple;
    font-size: 36px;
    margin: 0;
    border: 3px solid purple;
    border-radius: 5px;
    background-color: rgb(255, 191, 28);
    width: 100%;
}

button {
    background: none;
    border: 2px solid purple;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    font-family: 'Quantico', sans-serif;
    background-color: rgb(255, 191, 28);
    color: purple;
}

.button-pts {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.sub-container {
    width: 33%;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foul-counter {
    margin-top: 10px;
    margin-bottom: 0;
    color: purple;
}

#dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid purple;
    color: transparent;
}

.foul-counter, .dot {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.foul-name {
    font-weight: bold;
}

/* Nav CSS start*/

.navbar-icon {
    width: 30px;
    height: 30px;
}

.navbar {
    width: 100%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 10px;
    gap: 30px;
    justify-content: center;
}

.navbar-items > a {
    text-decoration: none;
    color: purple;
    border: 2px solid purple;
    background-color: rgb(255, 191, 28);
    padding: 0 20px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
}

/* Nav CSS stop */