html {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #EEF0F4;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.ctnr-title {
    flex-basis: 100%;
}

.sub-ctnr {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    text-align: center;
    background-color: #EEF0F4;
    border: 2px solid black;
}

a {
    text-decoration: none;
    color: #000;
}