body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #1F2937;
}

/* Nav CSS start*/

.navbar-icon {
    width: 30px;
    height: 30px;
}

.navbar {
    width: 100%;
}

.navbar-items {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin: 10px;
    gap: 30px;
    justify-content: center;
}

.navbar-items > a {
    text-decoration: none;
    color: whitesmoke;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 100%;
    gap: 30px;
}

/* Nav CSS stop */

section {
    display: block;
    width: 500px;
    height: 500px;
    padding: 25px;
    align-items: center;
    margin: auto;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: 'Pixelify Sans', sans-serif;
}

.title-container > p {
    padding: 0;
    margin: 0;
    font-size: 42px;
    font-weight: bolder;
}

.title-container > p:nth-child(2) {
    background: linear-gradient(to right, cyan, green, yellow, red, purple);
    -webkit-background-clip: text;
    color: transparent;
}

.selection-container {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.addtl-options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

button {
    border-radius: 6px;
    background: #10B981;
    display: inline-flex;
    padding: 9px 17px 9px 15px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: 0;
    height: 40px;
    width: 200px;
    color: white;
    font-size: 18px;
}

.pwd-length-container > input, .pwd-length-container > p{
    margin: 0 20px;
    font-size: 14px;
    width: 200px;
}

.line-break {
    border: 1px solid #2F3E53;
    margin: 20px;
}

.sub-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-evenly;
}

.sub-container > button {
    width: 220px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #273549;
    color: #10B981; 
    font-size: 14px;
}

.copied-tooltip {
    display: none;
    margin-left: 40px;
    padding: 5px 12px;
    background-color: #000000df;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

footer {
    text-align: center;
    font-size: 14px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    html, body {
        width: 98%;
        margin: auto;
        padding: 0;
    }

    main {
        width: 98%;
        padding: 0;
        margin: auto;
    }
    
    header {
        margin-bottom: 50px;
    }

    section {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    .title-container {
        width: 96%;
        margin: auto;
        padding: 0;
    }

    .title-container > p {
        font-size: 32px;
    }

    .selection-container {
        width: 96%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px auto;
    }

    button {
        margin: 20px auto;
        width: 96%;
    }

    .pwd-length-container > input, .pwd-length-container > p{
        margin: 5px auto;
        font-size: 14px;
        width: 300px;
    }

    .line-break {
        width: 98%;
        margin: 30px auto;
    }

    .sub-container > button {
        width: 96%;
        margin: auto;
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #273549;
        color: #10B981; 
        font-size: 14px;
    }

    .sub-container {
        flex-direction: column;
        width: 96%;
        margin: auto;
        gap: 30px;
    }

    .copied-tooltip {
        margin: 20px auto;
    }

    header, footer {
        position: relative;
        width: auto;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    html, body {
        width: 98%;
        margin: auto;
        padding: 0;
    }

    main {
        width: 98%;
        padding: 0;
        margin: auto;
    }
    
    header {
        margin-bottom: 50px;
    }

    section {
        width: 90%;
        margin: auto;
        padding: 10px;
    }

    .title-container {
        width: 96%;
        margin: auto;
        padding: 0;
    }

    .title-container > p {
        font-size: 34px;
    }

    .selection-container {
        width: 96%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    button {
        margin: 20px auto;
        width: 96%;
        align-content: center;
    }

    .pwd-length-container > input, .pwd-length-container > p {
        margin: 0 20px;
        font-size: 14px;
        width: 300px;
    }

    .line-break {
        width: 98%;
        margin: 20px auto;
    }

    .sub-container > button {
        width: 96%;
        margin: auto;
        height: 40px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #273549;
        color: #10B981; 
        font-size: 14px;
    }

    .sub-container {
        flex-direction: column;
        width: 96%;
        margin: auto;
        gap: 30px;
    }

    header, footer {
        position: relative;
        width: auto;
    }
}